@mixin banner(){
    width: 100%;
    overflow: hidden;
    background: rgb(30, 179, 91);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: -34px;
    font-size: 0.87em;
}
.banner{
    @include banner()
}