/***************** header styles************** */
header {
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  /* background: #ccc; */
}
nav {
  width: 100%;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
li a {
  color: #000;
  font-size: 1.3rem;
  text-decoration: none;
  font-weight: 500;
}
.right__side__logo {
  display: flex;
  justify-content: end;
}
img {
  height: auto;
  width: 200px;
  max-width: 100%;
  overflow: hidden;
}
.left__side__icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.main__menu {
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.close__sidebar {
  display: none;
}

/* mobile wrapper style menu */
.header__mobile {
  background: #fff;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  right: -200px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
  z-index: 99999;
  width: 440.6px;
}
ul.nav__mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding-inline: 10px;
  margin: 70px 0 0 0;
  padding: 1rem;
  position: relative;
  right: -40px;
  top: 60px;
}
hr.line {
  width: 10px;
  height: 10px;
  background: #d7c7c7;
  width: 100%;
  height: 1px;
}
a.hidden {
  font-size: 1.7rem;
  font-weight: 500;
}
a.mobile__link {
  font-size: 1.8rem;
}
#mobile__hamberger {
  display: none;
}

/* resposnive codes */
@media screen and (max-width: 1200px) {
  .hidden:not(svg) {
    display: none;
  }
  #mobile__hamberger {
    display: flex;
  }
  .right__side__logo {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    gap: 2rem;
    align-items: center;
  }
  .left__side__icons {
    padding-left: 10px;
  }
  .mobile__logo {
    margin: 0 auto;
  }
  .header__mobile {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  #mobile__hamberger {
    display: none;
  }
}
