@media screen and (max-width:768px) {
    .flex__icon{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .wrapper__cosmetic{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .container__images__flex{
        display: flex;
        flex-direction: column;
    }
    .slider-container {
      display: flex;
      flex-wrap: wrap;
    //   flex-direction: column;
    gap: 10px;
    }
    .hide__mobile{
        display: none;
    }
    .flex__images {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .skin__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image__card,.image__fluid{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .article__images{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer{
        flex-direction: column;
    }
  
}
