// تعریف متغیرها
$scrollbar-track-color: #cdefff;
$scrollbar-thumb-color: #f90ce8;
$scrollbar-size: 11px;
$scrollbar-thumb-border: 2px solid #c2c6c7;
$scrollbar-radius: 8px;

body {
  // برای مرورگرهایی که از CSS Custom Properties پشتیبانی نمی‌کنن
  @supports not selector(::-webkit-scrollbar) {
    scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
  }

  &::-webkit-scrollbar {
    width: $scrollbar-size;
  }

  &::-webkit-scrollbar-track {
    background: $scrollbar-track-color;
    border-radius: $scrollbar-radius;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color;
    border-radius: $scrollbar-radius;
    border: $scrollbar-thumb-border;
  }
}
